# Copy this file to .env before starting the app.
# Replace the credentials with your own.

# Watson Speech to Text
SPEECH_TO_TEXT_APIKEY=<add_speech-to-text_apikey>
SPEECH_TO_TEXT_URL=<add_speech-to-text_url>

# Watson Text to Speech
TEXT_TO_SPEECH_APIKEY=<add_text-to-speech_apikey>
TEXT_TO_SPEECH_URL=<add_text-to-speech_url>

# Watson Assistant
ASSISTANT_APIKEY=xHvxvDuU0ZlEYh0yV7EYLCikiSHS4L4lj18614r7MxCa
ASSISTANT_URL=https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/010205b0-cdf4-4e78-87cc-1453bf788c0e

# Optionally, use a non-default skill by specifying your own workspace ID or name.
WORKSPACE_ID=83abdf9d-dc1e-45ed-b5f2-02c17653c7da
# WORKSPACE_NAME=insurance-voice-bot

